{% extends './proj/base.html.twig' %}

{% block title %}About Project{% endblock %}

{% block body %}
<div class="proj-container center">
    <h1>Start</h1>
    <img class="cheat-img" src="{{ asset('img/project/cheat/Start.jpg') }}">
    <h1>First Level</h1>
    <img class="cheat-img" src="{{ asset('img/project/cheat/First.jpg') }}">
    <h1>Second Level</h1>
    <img class="cheat-img" src="{{ asset('img/project/cheat/Hatch.jpg') }}">
    <h1>Third Level</h1>
    <img class="cheat-img" src="{{ asset('img/project/cheat/Portal.jpg') }}">
    <h1>Hell Ending</h1>
    <img class="cheat-img" src="{{ asset('img/project/cheat/Hell.jpg') }}">
</div>


</div>
{% endblock %}
