{% extends "base.html.twig" %}
{% block body %}

            <ul class="nav-ul">
                <li><a href="{{ path('card_start') }}">Start card</a></li>
                <li><a href="{{ path('test_roll_card') }}">Test roll card</a></li>
                <li><a href="{{ path('test_roll_num_cards') }}">Test roll card num</a></li>
                <li><a href="{{ path('test_cardhand') }}">Test card hand</a></li>
                <li><a href="{{ path('card_init_get') }}">Card init get</a></li>
                <li><a href="{{ path('card_play') }}">Card play</a></li>
            </ul>
