{% extends "base.html.twig" %}
{% block title %}Game 21 Play{% endblock %}
{% block body %}
<div class="index center">
<h1 >Play 21 Game</h1>
<p>
    <h2 class="card-num">The player has these cards:</h2>
    <p>
        {% for value in cards %}
            <div class="card {{cardColors[loop.index-1]}}">{{ value }}</div>
        {% endfor %}
    </p>

    {% if status == "player_turn" %}
        <a href="{{ path('game_hit') }}"><button class="button button-green">Hit me</button></a>
        <a href="{{ path('game_stay') }}"><button class="button button-red">Stay!</button></a>
    {% elseif status == "player_21" %}
        <p>Player has 21! Press 'Stay' to see what the house gets.</p>
        <a href="{{ path('game_stay') }}"><button class="button button-red">Stay!</button></a>
    {% elseif status == "player_bust" %}
        <p class="end-text">Player busts! House wins!</p>
    {% else %}
        <h2 class="card-num">The machine has these cards:</h2>
        <p>
            {% for value in machine_cards %}
                <div class="card {{machineColors[loop.index-1]}}">{{ value }}</div>
            {% endfor %}
        </p>
    {% endif %}

    {% if status == "house_bust" %}
        <p class="end-text">House busts! Player wins!</p>
    {% elseif (status != "player_turn") and (status != "player_21") and (status != "player_bust")%}
        <p class="end-text">{{ winnerPhrase }}</p>
    {% endif %}

    <a href="{{ path('game_restart') }}"><button class="button button-blue">Restart</button></a>


</p>
</div>
{% endblock %}