{% extends 'base.html.twig' %}

{% block title %}Look at book{% endblock %}

{% block body %}


<div class="index form-center center">
    {% include './book/navbar_library.html.twig' %}
    <h1 class="text-center">Update book</h1>
    <h2>{{ book.title }} by {{ book.author }}</h2>
    <h3>{{ book.isbn }}</h3>
    {% if (book.img) %}
    <img src="{{ asset('img/storage/' ~ book.img) }}" alt="{{ book.title }}" class="me">
    {% endif %}
    {{ form(book_form) }}

</div>
{% endblock %}
