{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
<div class="index center text-center">
    <h1>Current API Routes</h1>
    <div class="text-center">
        <h3>General</h3>
        <p><a href="{{ path('api') }}">API - this page</p>
        <p><a href="{{ path('api_quote') }}">Quote - shows inspiring quotes or something</a></p>
        <h3>Cards</h3>
        <p><a href="{{ path('api_deck') }}">Show current deck sorted</a></p>
        <form action="{{ path('api_show_shuffle') }}" method="post">
            <button class ="api" type="submit">Shuffle current deck[POST]</button></form>

        <form action="{{ path('api_show_unsorted') }}" method="post">
            <button class ="api" type="submit">Show current deck unsorted[POST]</button></form>
    
        <form action="{{ path('api_draw') }}" method="post">
            <button class ="api" type="submit">Draw one card[POST]</button></form>
   
        <form action="{{ path('api_draw_num', {num:'5'}) }}" method="post">
            <button class ="api" type="submit">Draw 5 cards or more depending on slug-value[POST]</button></form>
            <h3>Game</h3>
            <p><a href="{{ path('api_game') }}">Game API</a></p>
            <h3>Library</h3>
            <p><a href="{{ path('api_library_all') }}">Show all books in library</a></p>
            </div>
            <p><a href="{{ path('api_library_isbn', {isbn:'0-3998-4298-5'}) }}">Show one book in library</a></p>
</div>

{% endblock %}